.kontaktImg img {
  width: 100%;
}

.kontaktBorder {
  border-right: 2px solid #be8e63;
  border-top: 2px solid #be8e63;
  border-bottom: 2px solid #be8e63;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 250px;
  width: 60%;
  float: right;
}

.kontaktTxt {
  width: auto;
  position: absolute;
  margin-top: 40px;
}

.kontaktTxt p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.kontaktPTop {
  margin-block-start: 1em;
}

.kontaktTxtContainer {
  margin-bottom: 300px;
}

label {
  color: white;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
input {
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid #be8e63;
  background-color: transparent;
  padding: 5px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
textarea {
  width: 100%;
  border: 2px solid #be8e63;
  background-color: transparent;
  padding: 5px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}
textarea:focus,
input:focus {
  border: 2px solid #e9c6a8;
  outline-width: 0;
}
.sendEmail {
  background-color: #be8e63;
  border: none;
  padding: 10px;
}

.sendEmail:focus {
  border: none;
}
/* MEDIA QUERIES 627px */
@media screen and (min-width: 627px) {
}

/* MEDIA QUERIES 768px */
@media screen and (min-width: 768px) {
  .kontaktOsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  .kontaktBorder {
    margin: 0;
  }
  .kontaktTxt {
    margin-top: 20px;
    width: auto;
  }
  .kontaktForm {
    margin-top: -270px;
  }
}

/* MEDIA QUERIES 1024px */
@media screen and (min-width: 1024px) {
  .kontaktForm {
    margin-top: -190px;
  }
}

/* MEDIA QUERIES 1280px */
@media screen and (min-width: 1280px) {
  .kontaktForm {
    margin-top: -150px;
  }
}
/* MEDIA QUERIES 1440px */
@media screen and (min-width: 1440px) {
  .kontaktForm {
    margin-top: -100px;
  }
}

/* MEDIA QUERIES 1536px */
@media screen and (min-width: 1536px) {
  .kontaktForm {
    margin-top: -70px;
  }
}

@media screen and (min-width: 1920px) {
}
