/* GENERELLE REGLER*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #151515;
}

h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 36px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

h2 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 27px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

h3 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 24px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: white;
}

/* GENERELLE REGLER SLUT */

/* HEADER */

header {
  background: rgba(21, 21, 21, 0.8);
  height: 50px;
  width: 100%;
  border-bottom: 2px solid #be8e63;
  position: absolute;
  z-index: 2;
  position: fixed;
}

.desktopPunkter {
  display: none;
}

.burgermenuIkon {
  float: right;
  margin-top: -42px;
  margin-right: 15px;
}

.lukBurgermenu {
  float: right;
  margin-right: 15px;
  margin-top: 10px;
}

.navLogo img {
  width: 60px;
  margin-top: 4px;
  margin-left: 15px;
}

.mobilOverlay {
  width: 0px;
  height: 100%;
  position: fixed;
  background-color: #151515;
  overflow-x: hidden;
  z-index: 2;
  top: 0;
}

.navPunkter {
  text-align: center;
  margin-top: 130px;
}

.navPunkter a {
  text-transform: uppercase;
  color: #be8e63;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 10px;
}
/* HEADER SLUT */

/* FOOTER */
footer {
  border-top: 2px solid #be8e63;
  margin-top: 50px;
}

.kontakt {
  margin-top: 50px;
}

footer h3 {
  text-align: center;
  margin-block-end: 0.5em;
}
li {
  color: white;
  text-decoration: none;
  text-align: center;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

ul {
  padding-inline-start: 0px;
  margin-block-start: 0em;
}

.fa {
  color: white;
  font-size: 24px !important;
  padding-left: 5px;
  padding-right: 5px;
}
.soMeIkoner {
  text-align: center;
}

.rapportContainer {
  width: 113px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.rapportContainer img {
  width: 100%;
}
/* FOOTER SLUT*/

/* INDEX.HTML CSS */
main {
  width: 90%;
  margin: 0 auto;
}

.splashImage img {
  width: 100%;
  position: relative;
}

#jul {
  margin-top: 30px;
}

.julImg img {
  width: 100%;
}

.julTxt {
  width: 85%;
  position: absolute;
  margin-top: 20px;
}

.julBorder {
  border-right: 2px solid #be8e63;
  border-top: 2px solid #be8e63;
  border-bottom: 2px solid #be8e63;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 250px;
  width: 60%;
  float: right;
}

.kagensDagImg img {
  width: 100%;
  margin-top: 20px;
}

.kagensDagBorder {
  border-right: 2px solid #be8e63;
  border-left: 2px solid #be8e63;
  border-bottom: 2px solid #be8e63;
  height: 190px;
  position: relative;
  top: 350px;
}

.kagensDagContainer {
  margin-top: -190px;
}
.kagensDagTxt {
  margin-top: 10px;
}

.kagensDagTxt h3 {
  padding-left: 15px;
  padding-right: 15px;
}

.kagensDagTxt p {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
/* INDEX.HTML CSS SLUT*/

/* BRØD HTML */
.produkt1 img,
.produkt2 img,
.produkt3 img,
.produkt4 img {
  width: 100%;
  margin-top: 20px;
}

.produktBorder {
  border-right: 2px solid #be8e63;
  border-top: 2px solid #be8e63;
  border-bottom: 2px solid #be8e63;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 250px;
  width: 60%;
  float: right;
}

.produktTxt {
  width: 85%;
  position: absolute;
  margin-top: 50px;
}

.produkt2Border {
  border-left: 2px solid #be8e63;
  border-top: 2px solid #be8e63;
  border-bottom: 2px solid #be8e63;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 250px;
  width: 60%;
  float: left;
}
.produkt2Txt {
  width: 85%;
  position: absolute;
  margin-top: 50px;
  padding-left: 30px;
}

.produkt4Container {
  margin-bottom: 320px;
}

/*BESTILLINGSKAGER.HTML */
.slides,
.slidesKagemand,
.slidesBryllupskage,
.slidesKransekage {
  display: none;
}

.carouselContainer {
  position: relative;
  margin: auto;
}

.frem,
.tilbage {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  cursor: pointer;
  color: white;
  font-size: 24px;
  transition: 0.6s ease;
  user-select: none;
}

.frem2,
.tilbage2 {
  position: absolute;
  top: 74%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  cursor: pointer;
  color: white;
  font-size: 24px;
  transition: 0.6s ease;
  user-select: none;
}

.frem,
.frem2 {
  right: 0;
}

.frem:hover,
.tilbage:hover,
.frem2:hover,
.tilbage2:hover {
  background-color: #be8d63dc;
}

.slideKnapper {
  text-align: center;
}

.slideknap,
.slideknap2,
.slideknap3,
.slideknap4 {
  width: 30px;
  height: 4px;
  margin: 0 5px;
  display: inline-block;
  background-color: #e9c6a8;
  transition: 0.6s ease;
}

.valgt,
.slideknap:hover {
  background-color: #be8e63;
}
.ease {
  animation-name: easein;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes easein {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/* MEDIA QUERIES 627px */
@media screen and (min-width: 627px) {
  /* HEADER */
  .navPunkter {
    margin-top: 20px;
  }
  .burgermenuIkon {
    margin-right: 25px;
  }
  .lukBurgermenu {
    margin-right: 25px;
  }
  .navLogo img {
    margin-left: 25px;
  }
  /* INDEX.HTML */
  /* JUL SEKTION */
  .julTxt {
    margin-top: 45px;
  }
  /* KAGENDAG SEKTION */
  .kagensDagBorder {
    height: 150px;
    top: 270px;
  }
  .kagensDagContainer {
    margin-top: -150px;
  }

  /* BRØD.HTML */
  .produkt1 img,
  .produkt2 img,
  .produkt3 img,
  .produkt4 img {
    margin-top: 30px;
  }

  /* BESTILLINGSKAGER.HTML */
  .frem2,
  .tilbage2 {
    top: 70%;
  }
}

/* MEDIA QUERIES 768px */
@media screen and (min-width: 768px) {
  /* NAVIGATION */
  .navPunkter {
    margin-top: 260px;
  }
  .navPunkter a {
    font-size: 27px;
    padding: 15px;
  }

  .burgermenuIkon {
    margin-right: 35px;
  }
  .lukBurgermenu {
    margin-right: 35px;
  }
  .navLogo img {
    margin-left: 35px;
  }

  /* MAIN */
  main {
    width: 85%;
    margin: 0 auto;
  }

  /*INDEX.HTML */
  /* JUL SEKTION */
  .julTxt {
    width: 80%;
  }

  /* KAGENDAG SEKTION */
  .kagensDagBorder {
    height: 150px;
    top: 240px;
  }

  /*BRØD.HTML */
  .produktTxt {
    margin-top: 60px;
    width: 80%;
  }

  .produkt2Txt {
    padding-left: 70px;
    margin-top: 60px;
  }

  /* BESTILLINGSKAGER.HTML */
  .frem2,
  .tilbage2 {
    top: 67%;
  }
}

/* MEDIA QUERIES 1024px */
@media screen and (min-width: 1024px) {
  /* SKRIFTSTØRRELSE TIL DESKTOP STØRRELSE*/
  h1 {
    font-family: "Frank Ruhl Libre", serif;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
  }

  h2 {
    font-family: "Frank Ruhl Libre", serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
  }

  h3 {
    font-family: "Frank Ruhl Libre", serif;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
  }

  /* HEADER DESKTOP */
  #mobilNavigation,
  .burgermenuIkon {
    display: none;
  }

  .desktopPunkter {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
  }

  header {
    display: grid;
    grid-template-columns: 20% 1fr;
    height: 60px;
  }

  .desktopPunkter a {
    text-transform: uppercase;
    color: #be8e63;
    font-family: "Frank Ruhl Libre", serif;
    font-size: 16px;
    text-decoration: none;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .desktopPunkter a:hover {
    font-weight: 600;
    border-bottom: 2px solid #be8e63;
  }

  .navLogo img {
    width: 70px;
    margin-top: 5px;
    margin-left: 48px;
  }
  /* HEADER DESKTOP SLUT */
  /* INDEX HTML */
  /* JUL SEKTION */
  #jul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  .julTxt {
    width: 41%;
    margin-top: 20px;
  }

  /* KAGENDAG SEKTION */
  .kagensDagBorder {
    height: 120px;
    top: 240px;
  }

  .kagensDagContainer {
    margin-top: -120px;
  }
  /* INDEX HTML SLUT/*

  /* BRØD.HTML */
  /* BRØD SEKTION */
  .produkt1 img,
  .produkt2 img,
  .produkt3 img,
  .produkt4 img {
    margin-top: 0px;
  }
  .produkt1,
  .produkt2,
  .produkt3,
  .produkt4 {
    margin-top: 60px;
  }
  .produkt1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
  }

  .produktTxt {
    width: 39%;
    margin-top: 30px;
  }

  /* BOLLER SEKTION */
  .produkt2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .produkt2Container {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .produkt2Img {
    grid-column-start: 2;
  }

  .produktTxt {
    width: 39%;
    margin-top: 40px;
  }

  .produkt2Txt {
    width: 38%;
    padding-left: 30px;
    margin-top: 40px;
  }

  /* RUGBRØD SEKTION */
  .produkt3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
  }

  /* FLUTE SEKTION */
  .produkt4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  .produkt4Container {
    grid-column-start: 1;
    grid-row-start: 1;
    margin-bottom: 50px;
  }

  .produkt4Img {
    grid-column-start: 2;
  }

  /*BESTILLINGSKAGER.HTML */
  .frem,
  .tilbage {
    margin-top: -40px;
  }

  .frem2,
  .tilbage2 {
    top: 50%;
    margin-top: -40px;
  }

  /* FOOTER DESKTOP */

  footer li,
  footer h3 {
    text-align: left;
  }

  footer h3 {
    font-size: 24px;
  }

  .soMeIkoner {
    text-align: left;
  }

  .rapportContainer {
    margin: 0;
  }

  .kontakt {
    margin-top: 0px;
  }
  .footerContainer {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 28% 25% 11% 1fr;
    padding-top: 30px;
    grid-gap: 32px;
  }
}

/* MEDIA QUERIES 1200px */
@media screen and (min-width: 1200px) {
  /* MAIN */
  main {
    width: 80%;
  }

  .footerContainer {
    width: 80%;
    grid-template-columns: 28% 25% 14% 1fr;
    padding-top: 30px;
    grid-gap: 32px;
  }

  /* JUL SEKTION */
  .julTxt {
    width: 36%;
    margin-top: 25px;
  }

  /* BRØD.HTML */
  .fluteContainer {
    margin-bottom: 100px;
  }

  .produkt1,
  .produkt2,
  .produkt3,
  .produkt4 {
    margin-top: 80px;
  }
}
/* MEDIA QUERIES 1440px */
@media screen and (min-width: 1440px) {
  /* SKRIFTSTØRRELSER TIL DESKTOP STØRRELSE */
  h1 {
    font-family: "Frank Ruhl Libre", serif;
    font-size: 64px;
    font-weight: 500;
    text-transform: uppercase;
  }

  h2 {
    font-family: "Frank Ruhl Libre", serif;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
  }

  h3 {
    font-family: "Frank Ruhl Libre", serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
  }

  /* NAVIGATION */
  .desktopPunkter {
    margin-right: 85px;
  }
  .navLogo img {
    margin-left: 80px;
  }
  /* FOOTER */
  .footerContainer {
    grid-template-columns: 28% 25% 19% 1fr;
  }
  /* INDEX.HTML */
  /* KAGENDAG SEKTION */
  .kagensDagBorder {
    top: 240px;
  }

  /* BRØD.HTML */
  .produkt4Container {
    margin-bottom: 200px;
  }

  .produkt1,
  .produkt2,
  .produkt3,
  .produkt4 {
    margin-top: 100px;
  }
  .produktTxt {
    width: 36%;
  }
}
/* MEDIA QUERIES 1536px */
@media screen and (min-width: 1536px) {
  /* FOOTER*/
  .footerContainer {
    grid-template-columns: 26% 27% 21% 1fr;
  }
  /* KAGENDAG SEKTION */
  .kagensDagBorder {
    top: 240px;
  }
}

/* STYLING TIL CAROUSEL TEST */
