* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #151515;
}

h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 64px;
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}
