<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT kager ANY>
<!ATTLIST kager id ID #REQUIRED>
<!ELEMENT broed ANY>
<!ATTLIST broed id ID #REQUIRED>
<!ELEMENT forside ANY>
<!ATTLIST forside id ID #REQUIRED>
]>
<root id="-1">
  <forside id="1066" key="d67097ad-9c11-479a-95f3-44709907c055" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-12-05T14:27:36" updateDate="2019-12-05T20:58:19" nodeName="Forside" urlName="forside" path="-1,1066" isDoc="" nodeType="1061" creatorName="Simone Grauer" writerName="Simone Grauer" writerID="0" template="1060" nodeTypeAlias="forside" isPublished="true">
    <hero1440px><![CDATA[umb://media/96e4920e3e7f4b4b840170cee4e69832]]></hero1440px>
    <hero1280px><![CDATA[umb://media/0a0e527711b549aba019eed223741823]]></hero1280px>
    <hero1920px><![CDATA[umb://media/e6517dff4f254758b26fb140dddf5613]]></hero1920px>
    <hero1024px><![CDATA[umb://media/64184fd1ef454ff2b8dba92124eaa348]]></hero1024px>
    <hero627px><![CDATA[umb://media/0b0ca940bc06487cb1e620051c3d1780]]></hero627px>
    <hero768px><![CDATA[umb://media/94474c5513464d83b33cc4af32e573e8]]></hero768px>
    <hero375px><![CDATA[umb://media/76b5058b79034f8f87b1365a198a8c96]]></hero375px>
    <hero1536px><![CDATA[umb://media/f89e3e1258b64f468884b87dab8f5f51]]></hero1536px>
    <tidsBillede><![CDATA[umb://media/e01510216ee94ce4a98d22cb21c4ce5c]]></tidsBillede>
    <tidsTekst><![CDATA[Julen er kommet til Det Franske Conditori, hvilket byder op til salget af vores kendte juleboller, honninghjerter, honningbomber og julesmåkager. Kig forbi butikken og kom i julestemning.]]></tidsTekst>
    <tidsOverskrift><![CDATA[Jul i conditoriet]]></tidsOverskrift>
    <kagensDagOverskrift><![CDATA[Vinder af kagens dag år 2019]]></kagensDagOverskrift>
    <kagensDagBillede><![CDATA[umb://media/3321b852050e4ee6abdc9bc2af2ce564]]></kagensDagBillede>
    <kagensDagTekst><![CDATA[Det Franske Conditori har de sidste 3 år deltaget i Kagens Dag, for at støtte op omkring Børnecancerfonden, da alt indtægt går ubeskåret til dem.

Vi har været så heldige at vinde Kagens Dag i år 2017 og 2019 og vi glæder os til at forsøge igen næste år. Følg med på vores facebookside når vi i år 2020 deltager endnu en gang]]></kagensDagTekst>
    <forsideTekst><![CDATA[Det Franske Conditori laver brød, kager og konditori i den klassiske og traditionelle franske ånd. Der lægges vægt på kunsthåndværket, kvalitet og håndværksmæssig høj standard og kun de bedste råvarer fra håndplukkede leverandører benyttes. Langt størstedelen af alle produkter laves stadig på “den gode gammaldags måde” Vi stræber efter at komme tilbage til rødderne med finere fransk konditori, godt fransk inspireret brød, godt håndværk, passion, gode råvarer og en service som man husker det fra gamle dage!]]></forsideTekst>
    <forsideOverskrift><![CDATA[Det Franske Conditori]]></forsideOverskrift>
    <burgermenu><![CDATA[umb://media/e25b97cd1db24845841064f4fd96f450]]></burgermenu>
    <kryds><![CDATA[umb://media/af42c509af0849d0b07b4ecfdeab4b6e]]></kryds>
    <headerLogo><![CDATA[umb://media/8ad2434016b94ac798e2e9c151cd66ff]]></headerLogo>
    <smiley><![CDATA[umb://media/1971dad7c1c747648d4442ca2275b274]]></smiley>
    <facebook><![CDATA[umb://media/091228efe4d44507bc6903a6d49a77b5]]></facebook>
    <instagram><![CDATA[umb://media/164a45490515426cb586b49505e45e87]]></instagram>
    <broed id="1142" key="8014cf77-caf2-4881-bd53-302c8e2e2334" parentID="1066" level="2" creatorID="0" sortOrder="0" createDate="2019-12-05T21:33:30" updateDate="2019-12-05T22:36:04" nodeName="Brød" urlName="broed" path="-1,1066,1142" isDoc="" nodeType="1069" creatorName="Simone Grauer" writerName="Simone Grauer" writerID="0" template="1068" nodeTypeAlias="broed" isPublished="true">
      <bHero1920px><![CDATA[umb://media/4c56c62cd3ee42009182c373e8dd2bbf]]></bHero1920px>
      <bHero1024px><![CDATA[umb://media/00627fcd88de404ea1cc32856d9c2272]]></bHero1024px>
      <bHero375px><![CDATA[umb://media/f3c3f37a97cb403f89f85c12ed81ffe6]]></bHero375px>
      <bHero768px><![CDATA[umb://media/ac1a77b3ec274cde8e9df58d14b2be28]]></bHero768px>
      <bHero1440px><![CDATA[umb://media/e83d43da6b9e4dd4a2bf57798f0fe9df]]></bHero1440px>
      <bHero1280px><![CDATA[umb://media/bfd2bba680524197b6483186b7264f51]]></bHero1280px>
      <bHero1536px><![CDATA[umb://media/7e44fd3a5c9b4c9e849cf609bc0ece96]]></bHero1536px>
      <bHero627px><![CDATA[umb://media/fb8ab872461d40af996520fbdb0b51e8]]></bHero627px>
      <broedTekst><![CDATA[Hos Det Franske Conditori har vi et bredt udvalgt af kager som alle er hjemmebagte, herunder kan de se et udvalg af de kager vi sælge]]></broedTekst>
      <broedOverskrift><![CDATA[Hjemmebagte brød og boller]]></broedOverskrift>
      <broedBillede><![CDATA[umb://media/91824245c4bf45c99350fba611987505]]></broedBillede>
      <broedSektionTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></broedSektionTekst>
      <broedSektionOverskrift><![CDATA[Brød]]></broedSektionOverskrift>
      <bollerSektionTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></bollerSektionTekst>
      <bollerBillede><![CDATA[umb://media/eb03352665134170bca8af2b60a9b22a]]></bollerBillede>
      <bollerSektionOverskrift><![CDATA[Boller]]></bollerSektionOverskrift>
      <rugbroedSektionTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></rugbroedSektionTekst>
      <rugbroedBillede><![CDATA[umb://media/afc3f68afc1b49f89c92fbf7804b13bf]]></rugbroedBillede>
      <rugbroedSektionOverskrift><![CDATA[Rugbrød]]></rugbroedSektionOverskrift>
      <fluteBillede><![CDATA[umb://media/c3edb615dbb84bf292fe800f803125d7]]></fluteBillede>
      <fluteSektionOverskrift><![CDATA[Flute]]></fluteSektionOverskrift>
      <fluteSektionTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></fluteSektionTekst>
      <headerLogo><![CDATA[umb://media/8ad2434016b94ac798e2e9c151cd66ff]]></headerLogo>
      <kryds><![CDATA[umb://media/af42c509af0849d0b07b4ecfdeab4b6e]]></kryds>
      <burgermenu><![CDATA[umb://media/e25b97cd1db24845841064f4fd96f450]]></burgermenu>
      <facebook><![CDATA[umb://media/091228efe4d44507bc6903a6d49a77b5]]></facebook>
      <smiley><![CDATA[umb://media/1971dad7c1c747648d4442ca2275b274]]></smiley>
      <instagram><![CDATA[umb://media/164a45490515426cb586b49505e45e87]]></instagram>
    </broed>
    <kager id="1181" key="b328d614-2976-47d7-b031-e7083eead426" parentID="1066" level="2" creatorID="0" sortOrder="1" createDate="2019-12-05T23:50:32" updateDate="2019-12-05T23:50:32" nodeName="Kager" urlName="kager" path="-1,1066,1181" isDoc="" nodeType="1071" creatorName="Simone Grauer" writerName="Simone Grauer" writerID="0" template="1070" nodeTypeAlias="kager" isPublished="true">
      <kagerTekst><![CDATA[Hos Det Franske Conditori har vi et bredt udvalgt af kager som alle er hjemmebagte, herunder kan de se et udvalg af de kager vi sælger]]></kagerTekst>
      <kagerOverskrift><![CDATA[Hjemmebagte kager]]></kagerOverskrift>
      <floedeskumskagerBillede><![CDATA[umb://media/73489ca54ed9496ab077031ca8fa40d7]]></floedeskumskagerBillede>
      <floedeskumskagerOverskrift><![CDATA[Flødeskumskager]]></floedeskumskagerOverskrift>
      <floedeskumskagerTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></floedeskumskagerTekst>
      <taerterOverskrift><![CDATA[Tærter]]></taerterOverskrift>
      <taerterBillede><![CDATA[umb://media/7725b8e355b143f1b60b1ec0e15ac0e8]]></taerterBillede>
      <taerterTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></taerterTekst>
      <toerkagerOverskrift><![CDATA[Tørkager]]></toerkagerOverskrift>
      <toerkagerTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></toerkagerTekst>
      <toerkagerBillede><![CDATA[umb://media/ab45e6d02afe432e81b11f9d71091e0d]]></toerkagerBillede>
      <kHero375px><![CDATA[umb://media/bd523dc87e2c437293fa500db2943e95]]></kHero375px>
      <kHero1024px><![CDATA[umb://media/231805039a864f57be707e77746d5613]]></kHero1024px>
      <kHero1440px><![CDATA[umb://media/e0c72e70f2094949bd8d156d6334a488]]></kHero1440px>
      <kHero1920px><![CDATA[umb://media/dc1ce62fc370450db050a99788a5241c]]></kHero1920px>
      <kHero627px><![CDATA[umb://media/8f1221f750e1469683676c32d799916d]]></kHero627px>
      <kHero768px><![CDATA[umb://media/6034c0f7f6974675ac3f7e4d56357666]]></kHero768px>
      <kHero1280px><![CDATA[umb://media/ca44ca91b3de4bb499ac36be985a4f14]]></kHero1280px>
      <kHero1536px><![CDATA[umb://media/a5a6bf58a1dc47b6af8de5974541b2d1]]></kHero1536px>
      <headerLogo><![CDATA[umb://media/8ad2434016b94ac798e2e9c151cd66ff]]></headerLogo>
      <burgermenu><![CDATA[umb://media/e25b97cd1db24845841064f4fd96f450]]></burgermenu>
      <kryds><![CDATA[umb://media/af42c509af0849d0b07b4ecfdeab4b6e]]></kryds>
      <facebook><![CDATA[umb://media/091228efe4d44507bc6903a6d49a77b5]]></facebook>
      <instagram><![CDATA[umb://media/164a45490515426cb586b49505e45e87]]></instagram>
      <smiley><![CDATA[umb://media/1971dad7c1c747648d4442ca2275b274]]></smiley>
    </kager>
  </forside>
</root>