<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT forside ANY>
<!ATTLIST forside id ID #REQUIRED>
<!ELEMENT broed ANY>
<!ATTLIST broed id ID #REQUIRED>
<!ELEMENT kager ANY>
<!ATTLIST kager id ID #REQUIRED>
<!ELEMENT fristelser ANY>
<!ATTLIST fristelser id ID #REQUIRED>
<!ELEMENT bestillingskager ANY>
<!ATTLIST bestillingskager id ID #REQUIRED>
<!ELEMENT voresHistorie ANY>
<!ATTLIST voresHistorie id ID #REQUIRED>
<!ELEMENT kontaktOs ANY>
<!ATTLIST kontaktOs id ID #REQUIRED>
]>
<root id="-1">
  <forside id="1066" key="d67097ad-9c11-479a-95f3-44709907c055" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-12-05T14:27:36" updateDate="2019-12-05T20:58:19" nodeName="Forside" urlName="forside" path="-1,1066" isDoc="" nodeType="1061" creatorName="Simone Grauer" writerName="Simone Grauer" writerID="0" template="1060" nodeTypeAlias="forside" isPublished="true">
    <hero1440px><![CDATA[umb://media/96e4920e3e7f4b4b840170cee4e69832]]></hero1440px>
    <hero1280px><![CDATA[umb://media/0a0e527711b549aba019eed223741823]]></hero1280px>
    <hero1920px><![CDATA[umb://media/e6517dff4f254758b26fb140dddf5613]]></hero1920px>
    <hero1024px><![CDATA[umb://media/64184fd1ef454ff2b8dba92124eaa348]]></hero1024px>
    <hero627px><![CDATA[umb://media/0b0ca940bc06487cb1e620051c3d1780]]></hero627px>
    <hero768px><![CDATA[umb://media/94474c5513464d83b33cc4af32e573e8]]></hero768px>
    <hero375px><![CDATA[umb://media/76b5058b79034f8f87b1365a198a8c96]]></hero375px>
    <hero1536px><![CDATA[umb://media/f89e3e1258b64f468884b87dab8f5f51]]></hero1536px>
    <tidsBillede><![CDATA[umb://media/e01510216ee94ce4a98d22cb21c4ce5c]]></tidsBillede>
    <tidsTekst><![CDATA[Julen er kommet til Det Franske Conditori, hvilket byder op til salget af vores kendte juleboller, honninghjerter, honningbomber og julesmåkager. Kig forbi butikken og kom i julestemning.]]></tidsTekst>
    <tidsOverskrift><![CDATA[Jul i conditoriet]]></tidsOverskrift>
    <kagensDagOverskrift><![CDATA[Vinder af kagens dag år 2019]]></kagensDagOverskrift>
    <kagensDagBillede><![CDATA[umb://media/3321b852050e4ee6abdc9bc2af2ce564]]></kagensDagBillede>
    <kagensDagTekst><![CDATA[Det Franske Conditori har de sidste 3 år deltaget i Kagens Dag, for at støtte op omkring Børnecancerfonden, da alt indtægt går ubeskåret til dem.

Vi har været så heldige at vinde Kagens Dag i år 2017 og 2019 og vi glæder os til at forsøge igen næste år. Følg med på vores facebookside når vi i år 2020 deltager endnu en gang]]></kagensDagTekst>
    <forsideTekst><![CDATA[Det Franske Conditori laver brød, kager og konditori i den klassiske og traditionelle franske ånd. Der lægges vægt på kunsthåndværket, kvalitet og håndværksmæssig høj standard og kun de bedste råvarer fra håndplukkede leverandører benyttes. Langt størstedelen af alle produkter laves stadig på “den gode gammaldags måde” Vi stræber efter at komme tilbage til rødderne med finere fransk konditori, godt fransk inspireret brød, godt håndværk, passion, gode råvarer og en service som man husker det fra gamle dage!]]></forsideTekst>
    <forsideOverskrift><![CDATA[Det Franske Conditori]]></forsideOverskrift>
    <burgermenu><![CDATA[umb://media/e25b97cd1db24845841064f4fd96f450]]></burgermenu>
    <kryds><![CDATA[umb://media/af42c509af0849d0b07b4ecfdeab4b6e]]></kryds>
    <headerLogo><![CDATA[umb://media/8ad2434016b94ac798e2e9c151cd66ff]]></headerLogo>
    <smiley><![CDATA[umb://media/1971dad7c1c747648d4442ca2275b274]]></smiley>
    <facebook><![CDATA[umb://media/091228efe4d44507bc6903a6d49a77b5]]></facebook>
    <instagram><![CDATA[umb://media/164a45490515426cb586b49505e45e87]]></instagram>
    <broed id="1142" key="8014cf77-caf2-4881-bd53-302c8e2e2334" parentID="1066" level="2" creatorID="0" sortOrder="0" createDate="2019-12-05T21:33:30" updateDate="2019-12-05T22:36:04" nodeName="Brød" urlName="broed" path="-1,1066,1142" isDoc="" nodeType="1069" creatorName="Simone Grauer" writerName="Simone Grauer" writerID="0" template="1068" nodeTypeAlias="broed" isPublished="true">
      <bHero1920px><![CDATA[umb://media/4c56c62cd3ee42009182c373e8dd2bbf]]></bHero1920px>
      <bHero1024px><![CDATA[umb://media/00627fcd88de404ea1cc32856d9c2272]]></bHero1024px>
      <bHero375px><![CDATA[umb://media/f3c3f37a97cb403f89f85c12ed81ffe6]]></bHero375px>
      <bHero768px><![CDATA[umb://media/ac1a77b3ec274cde8e9df58d14b2be28]]></bHero768px>
      <bHero1440px><![CDATA[umb://media/e83d43da6b9e4dd4a2bf57798f0fe9df]]></bHero1440px>
      <bHero1280px><![CDATA[umb://media/bfd2bba680524197b6483186b7264f51]]></bHero1280px>
      <bHero1536px><![CDATA[umb://media/7e44fd3a5c9b4c9e849cf609bc0ece96]]></bHero1536px>
      <bHero627px><![CDATA[umb://media/fb8ab872461d40af996520fbdb0b51e8]]></bHero627px>
      <broedTekst><![CDATA[Hos Det Franske Conditori har vi et bredt udvalgt af kager som alle er hjemmebagte, herunder kan de se et udvalg af de kager vi sælge]]></broedTekst>
      <broedOverskrift><![CDATA[Hjemmebagte brød og boller]]></broedOverskrift>
      <broedBillede><![CDATA[umb://media/91824245c4bf45c99350fba611987505]]></broedBillede>
      <broedSektionTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></broedSektionTekst>
      <broedSektionOverskrift><![CDATA[Brød]]></broedSektionOverskrift>
      <bollerSektionTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></bollerSektionTekst>
      <bollerBillede><![CDATA[umb://media/eb03352665134170bca8af2b60a9b22a]]></bollerBillede>
      <bollerSektionOverskrift><![CDATA[Boller]]></bollerSektionOverskrift>
      <rugbroedSektionTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></rugbroedSektionTekst>
      <rugbroedBillede><![CDATA[umb://media/afc3f68afc1b49f89c92fbf7804b13bf]]></rugbroedBillede>
      <rugbroedSektionOverskrift><![CDATA[Rugbrød]]></rugbroedSektionOverskrift>
      <fluteBillede><![CDATA[umb://media/c3edb615dbb84bf292fe800f803125d7]]></fluteBillede>
      <fluteSektionOverskrift><![CDATA[Flute]]></fluteSektionOverskrift>
      <fluteSektionTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></fluteSektionTekst>
      <headerLogo><![CDATA[umb://media/8ad2434016b94ac798e2e9c151cd66ff]]></headerLogo>
      <kryds><![CDATA[umb://media/af42c509af0849d0b07b4ecfdeab4b6e]]></kryds>
      <burgermenu><![CDATA[umb://media/e25b97cd1db24845841064f4fd96f450]]></burgermenu>
      <facebook><![CDATA[umb://media/091228efe4d44507bc6903a6d49a77b5]]></facebook>
      <smiley><![CDATA[umb://media/1971dad7c1c747648d4442ca2275b274]]></smiley>
      <instagram><![CDATA[umb://media/164a45490515426cb586b49505e45e87]]></instagram>
    </broed>
    <kager id="1181" key="b328d614-2976-47d7-b031-e7083eead426" parentID="1066" level="2" creatorID="0" sortOrder="1" createDate="2019-12-05T23:50:32" updateDate="2019-12-05T23:50:32" nodeName="Kager" urlName="kager" path="-1,1066,1181" isDoc="" nodeType="1071" creatorName="Simone Grauer" writerName="Simone Grauer" writerID="0" template="1070" nodeTypeAlias="kager" isPublished="true">
      <kagerTekst><![CDATA[Hos Det Franske Conditori har vi et bredt udvalgt af kager som alle er hjemmebagte, herunder kan de se et udvalg af de kager vi sælger]]></kagerTekst>
      <kagerOverskrift><![CDATA[Hjemmebagte kager]]></kagerOverskrift>
      <floedeskumskagerBillede><![CDATA[umb://media/73489ca54ed9496ab077031ca8fa40d7]]></floedeskumskagerBillede>
      <floedeskumskagerOverskrift><![CDATA[Flødeskumskager]]></floedeskumskagerOverskrift>
      <floedeskumskagerTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></floedeskumskagerTekst>
      <taerterOverskrift><![CDATA[Tærter]]></taerterOverskrift>
      <taerterBillede><![CDATA[umb://media/7725b8e355b143f1b60b1ec0e15ac0e8]]></taerterBillede>
      <taerterTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></taerterTekst>
      <toerkagerOverskrift><![CDATA[Tørkager]]></toerkagerOverskrift>
      <toerkagerTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></toerkagerTekst>
      <toerkagerBillede><![CDATA[umb://media/ab45e6d02afe432e81b11f9d71091e0d]]></toerkagerBillede>
      <kHero375px><![CDATA[umb://media/bd523dc87e2c437293fa500db2943e95]]></kHero375px>
      <kHero1024px><![CDATA[umb://media/231805039a864f57be707e77746d5613]]></kHero1024px>
      <kHero1440px><![CDATA[umb://media/e0c72e70f2094949bd8d156d6334a488]]></kHero1440px>
      <kHero1920px><![CDATA[umb://media/dc1ce62fc370450db050a99788a5241c]]></kHero1920px>
      <kHero627px><![CDATA[umb://media/8f1221f750e1469683676c32d799916d]]></kHero627px>
      <kHero768px><![CDATA[umb://media/6034c0f7f6974675ac3f7e4d56357666]]></kHero768px>
      <kHero1280px><![CDATA[umb://media/ca44ca91b3de4bb499ac36be985a4f14]]></kHero1280px>
      <kHero1536px><![CDATA[umb://media/a5a6bf58a1dc47b6af8de5974541b2d1]]></kHero1536px>
      <headerLogo><![CDATA[umb://media/8ad2434016b94ac798e2e9c151cd66ff]]></headerLogo>
      <burgermenu><![CDATA[umb://media/e25b97cd1db24845841064f4fd96f450]]></burgermenu>
      <kryds><![CDATA[umb://media/af42c509af0849d0b07b4ecfdeab4b6e]]></kryds>
      <facebook><![CDATA[umb://media/091228efe4d44507bc6903a6d49a77b5]]></facebook>
      <instagram><![CDATA[umb://media/164a45490515426cb586b49505e45e87]]></instagram>
      <smiley><![CDATA[umb://media/1971dad7c1c747648d4442ca2275b274]]></smiley>
    </kager>
    <fristelser id="1211" key="000d7975-b410-4f67-8452-74e97264c609" parentID="1066" level="2" creatorID="0" sortOrder="2" createDate="2019-12-07T12:18:30" updateDate="2019-12-07T12:18:30" nodeName="Fristelser" urlName="fristelser" path="-1,1066,1211" isDoc="" nodeType="1073" creatorName="Simone Grauer" writerName="Simone Grauer" writerID="0" template="1072" nodeTypeAlias="fristelser" isPublished="true">
      <fristelserTekst><![CDATA[I butikken har vi en reol som altid er fyldt med spændende og lækre godter. Der er også gode bud til en værtindegave]]></fristelserTekst>
      <fristelserOverskrift><![CDATA[Tag selv reolen]]></fristelserOverskrift>
      <marmeladeBillede><![CDATA[umb://media/3c89060ad7fc421193133fde641ee91b]]></marmeladeBillede>
      <marmeladeOverskrift><![CDATA[Marmelade]]></marmeladeOverskrift>
      <marmeladeTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></marmeladeTekst>
      <musliTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></musliTekst>
      <musliOverskrift><![CDATA[Musli]]></musliOverskrift>
      <musliBillede><![CDATA[umb://media/5000f666d5084c3ba7ccaa759ce230e5]]></musliBillede>
      <rugbroedschipsBillede><![CDATA[umb://media/22fd7271a8824cfcba83474c5689d1f2]]></rugbroedschipsBillede>
      <rugbroedchipsTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></rugbroedchipsTekst>
      <rugbroedschipsOverskrift><![CDATA[Rugbrødschips]]></rugbroedschipsOverskrift>
      <smaakagerBillede><![CDATA[umb://media/f68949252af44735b288dcd72d8a1bf1]]></smaakagerBillede>
      <smaakagerTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></smaakagerTekst>
      <smaakagerOverskrift><![CDATA[Småkager]]></smaakagerOverskrift>
      <hero1280px><![CDATA[umb://media/7c48fa0309dd4357a726e28441e86192]]></hero1280px>
      <hero627px><![CDATA[umb://media/8f423cc6eadd417f8581a0746b4b9eee]]></hero627px>
      <hero1024px><![CDATA[umb://media/cd8d34bff0d34c1d9aaa685229d1a28d]]></hero1024px>
      <hero1920px><![CDATA[umb://media/575b0aa8c9514ac7a1124f4169afb5b5]]></hero1920px>
      <hero1536px><![CDATA[umb://media/c5ecbbfdbcb54b859b27af76e625814a]]></hero1536px>
      <hero768px><![CDATA[umb://media/acba6ffff71d43ffa0cc3489566834e3]]></hero768px>
      <hero375px><![CDATA[umb://media/e732a7316ffb415bb7ffd05d45822d76]]></hero375px>
      <hero1440px><![CDATA[umb://media/ff0e5749612c4d6ab027b41df999dfee]]></hero1440px>
    </fristelser>
    <bestillingskager id="1244" key="36f04ee3-0792-409e-8a45-f5714170e1fb" parentID="1066" level="2" creatorID="0" sortOrder="3" createDate="2019-12-07T13:10:44" updateDate="2019-12-07T13:14:51" nodeName="Bestillingskager" urlName="bestillingskager" path="-1,1066,1244" isDoc="" nodeType="1075" creatorName="Simone Grauer" writerName="Simone Grauer" writerID="0" template="1074" nodeTypeAlias="bestillingskager" isPublished="true">
      <bestillingskagerOverskrift><![CDATA[Få den kage du ønsker]]></bestillingskagerOverskrift>
      <bestillingskagerTekst><![CDATA[Tekst om at i laver kager på bestilling efter kunden øsnker evt hvordan samarbejdet fungere Det må gerne være en længere tekst]]></bestillingskagerTekst>
      <LagkageSlide1><![CDATA[umb://media/bf594b327fc74db99dd06ad7506c42f3]]></LagkageSlide1>
      <lagkageSlide2><![CDATA[umb://media/c274070dbd09421191c8f3ee86eb7200]]></lagkageSlide2>
      <lagkagerTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></lagkagerTekst>
      <lagkagerOverskrift><![CDATA[Lagkager]]></lagkagerOverskrift>
      <lagkageSlide3><![CDATA[umb://media/1b54751456514949865fd8a8b3f69c10]]></lagkageSlide3>
      <kagemaendSlide1><![CDATA[umb://media/1fa7368ba06d4d63b677036961769403]]></kagemaendSlide1>
      <kagemaendSlide2><![CDATA[umb://media/0cc82810b68944ce890fe95932144a17]]></kagemaendSlide2>
      <kagemaendTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></kagemaendTekst>
      <kagemaendSlide3><![CDATA[umb://media/88774d548f8148958ba84007d3c6d6c8]]></kagemaendSlide3>
      <kagemaendOverskrift><![CDATA[Kagmænd]]></kagemaendOverskrift>
      <bryllupskagerOverskrift><![CDATA[Bryllupskager]]></bryllupskagerOverskrift>
      <bryllupskagerTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></bryllupskagerTekst>
      <bryllupskageSlide1><![CDATA[umb://media/ffc484d396dd48b4adcafeeb7fa3d9e8]]></bryllupskageSlide1>
      <bryllupskageSlide2><![CDATA[umb://media/d7913cdc813a420c9a8f3795dc85b10c]]></bryllupskageSlide2>
      <kransekageSlide3><![CDATA[umb://media/20c396ac05084e25af49b14c63022019]]></kransekageSlide3>
      <kransekagerTekst><![CDATA[Vi har alt fra traditionelt franskbrød, formbrød til grov brød med forskellige variationer af dej og kerner.]]></kransekagerTekst>
      <kransekageSlide1><![CDATA[umb://media/fdad7e5e03ce431baac422a0ae65d9ef]]></kransekageSlide1>
      <kransekageSlide2><![CDATA[umb://media/41c9cca583994bccaa3b794500ab196a]]></kransekageSlide2>
      <kransekagerOverskrift><![CDATA[Kransekager]]></kransekagerOverskrift>
      <hero1280px><![CDATA[umb://media/168905814e5e439eae77bf49f24d5216]]></hero1280px>
      <hero627px><![CDATA[umb://media/3ba3a83f0cda46acbecf288e10acde12]]></hero627px>
      <hero375px><![CDATA[umb://media/a3a864d5cf73428185fdc8371e08b75c]]></hero375px>
      <hero1536px><![CDATA[umb://media/0c330214464245bd8c34f9bab96af2fb]]></hero1536px>
      <hero1440px><![CDATA[umb://media/6f76e29eb5ad455e80816fae53307cf8]]></hero1440px>
      <hero1024px><![CDATA[umb://media/5db2b394842c4d07a5239a5b68de5033]]></hero1024px>
      <hero768px><![CDATA[umb://media/b573374d33ea4eb390c5ccb9138b5855]]></hero768px>
      <hero1920px><![CDATA[umb://media/578349cf9ee54a67acdb5562217fdfae]]></hero1920px>
    </bestillingskager>
    <kontaktOs id="1278" key="fbc85db8-9daf-4614-9dbf-d0a32be1d58d" parentID="1066" level="2" creatorID="0" sortOrder="4" createDate="2019-12-07T13:49:56" updateDate="2019-12-07T13:58:22" nodeName="Kontakt os" urlName="kontakt-os" path="-1,1066,1278" isDoc="" nodeType="1079" creatorName="Simone Grauer" writerName="Simone Grauer" writerID="0" template="1078" nodeTypeAlias="kontaktOs" isPublished="true">
      <festkagerBestillingsTekst><![CDATA[Fest- og Signaturkager til særlige lejligheder specialfremstilles. Bestil derfor i god tid, afstem ønsker og pris med mester eller  konditor. Alle bestillinger SKAL være betalt senest 3 dage før - ellers bliver ordren ikke lavet]]></festkagerBestillingsTekst>
      <leveringsOverskrift><![CDATA[Levering]]></leveringsOverskrift>
      <bestillingsTekst><![CDATA[For bestiling af brød og kager bedes du ringe til Det Franske Conditori eller komme ned i butikken med din bestilling.]]></bestillingsTekst>
      <leveringsTekst><![CDATA[Ved større bestillinger kan vi være behjælpelige med levering. Levering skal aftales ved bestilling - og inden betaling, så vi er  sikre på at alt forløber som det skal.]]></leveringsTekst>
      <bestillingsOverskrift><![CDATA[Bestilling af brød og kager]]></bestillingsOverskrift>
      <vej><![CDATA[H. C. Ørstedsvej 44]]></vej>
      <postnummer><![CDATA[1879 Frederiksberg]]></postnummer>
      <kontaktOsOverskrift><![CDATA[Kontakt os]]></kontaktOsOverskrift>
      <kontaktOsBillede><![CDATA[umb://media/49bde2f988a544b6b384c3d8c2dcc87b]]></kontaktOsBillede>
      <tlf><![CDATA[Tlf: +45 35 35 15 46]]></tlf>
      <email><![CDATA[Email: kontakt@detfranskeconditori.dk]]></email>
      <hero1440px><![CDATA[umb://media/f11f62431c1d42438c6442f70a469c4d]]></hero1440px>
      <hero375px><![CDATA[umb://media/725feca2d3374477ab85ef275b864d2b]]></hero375px>
      <hero627px><![CDATA[umb://media/fe2057ddf7b444eea27e3e21bd7928e5]]></hero627px>
      <hero1536px><![CDATA[umb://media/8c49649f22fb407dbfb1c8eff716b911]]></hero1536px>
      <hero1920px><![CDATA[umb://media/4c2597be8ac846c98bdad0213d95fb6e]]></hero1920px>
      <hero1280px><![CDATA[umb://media/a6e4f4d6e22e424eac409f6688181a9e]]></hero1280px>
      <hero1024px><![CDATA[umb://media/6e16b66ee1c14adca6f61bbace3b6607]]></hero1024px>
      <hero768px><![CDATA[umb://media/0e4aeea2529b4706bd352dee2ef60afe]]></hero768px>
    </kontaktOs>
    <voresHistorie id="1298" key="dd387c09-66b9-4516-8d9f-923d582fb67e" parentID="1066" level="2" creatorID="0" sortOrder="5" createDate="2019-12-07T14:50:32" updateDate="2019-12-07T14:50:32" nodeName="Vores historie" urlName="vores-historie" path="-1,1066,1298" isDoc="" nodeType="1077" creatorName="Simone Grauer" writerName="Simone Grauer" writerID="0" template="1076" nodeTypeAlias="voresHistorie" isPublished="true">
      <hero627px><![CDATA[umb://media/739e8f1ec58b488092a19bc9c8a5651a]]></hero627px>
      <hero1280px><![CDATA[umb://media/19d05ccbddad42a589fe605daa4af7d8]]></hero1280px>
      <hero1920px><![CDATA[umb://media/e7e75b2a865240638091677ba1b1ebb5]]></hero1920px>
      <hero1536px><![CDATA[umb://media/7dd30bc142c64057a5497153fb915234]]></hero1536px>
      <hero1440px><![CDATA[umb://media/ac047d3755c343c29498a86b8d603f7a]]></hero1440px>
      <hero1024px><![CDATA[umb://media/23133253330748d3b4c1c88e804e37a4]]></hero1024px>
      <hero768px><![CDATA[umb://media/296f12ae81c74f25ba40deed91a189e0]]></hero768px>
      <hero375px><![CDATA[umb://media/148e69f1d7a549d8a145ab21086ca1cb]]></hero375px>
    </voresHistorie>
  </forside>
</root>