<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT forside ANY>
<!ATTLIST forside id ID #REQUIRED>
]>
<root id="-1">
  <forside id="1066" key="d67097ad-9c11-479a-95f3-44709907c055" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-12-05T14:27:36" updateDate="2019-12-05T20:58:19" nodeName="Forside" urlName="forside" path="-1,1066" isDoc="" nodeType="1061" creatorName="Simone Grauer" writerName="Simone Grauer" writerID="0" template="1060" nodeTypeAlias="forside" isPublished="true">
    <hero1440px><![CDATA[umb://media/96e4920e3e7f4b4b840170cee4e69832]]></hero1440px>
    <hero1280px><![CDATA[umb://media/0a0e527711b549aba019eed223741823]]></hero1280px>
    <hero1920px><![CDATA[umb://media/e6517dff4f254758b26fb140dddf5613]]></hero1920px>
    <hero1024px><![CDATA[umb://media/64184fd1ef454ff2b8dba92124eaa348]]></hero1024px>
    <hero627px><![CDATA[umb://media/0b0ca940bc06487cb1e620051c3d1780]]></hero627px>
    <hero768px><![CDATA[umb://media/94474c5513464d83b33cc4af32e573e8]]></hero768px>
    <hero375px><![CDATA[umb://media/76b5058b79034f8f87b1365a198a8c96]]></hero375px>
    <hero1536px><![CDATA[umb://media/f89e3e1258b64f468884b87dab8f5f51]]></hero1536px>
    <tidsBillede><![CDATA[umb://media/e01510216ee94ce4a98d22cb21c4ce5c]]></tidsBillede>
    <tidsTekst><![CDATA[Julen er kommet til Det Franske Conditori, hvilket byder op til salget af vores kendte juleboller, honninghjerter, honningbomber og julesmåkager. Kig forbi butikken og kom i julestemning.]]></tidsTekst>
    <tidsOverskrift><![CDATA[Jul i conditoriet]]></tidsOverskrift>
    <kagensDagOverskrift><![CDATA[Vinder af kagens dag år 2019]]></kagensDagOverskrift>
    <kagensDagBillede><![CDATA[umb://media/3321b852050e4ee6abdc9bc2af2ce564]]></kagensDagBillede>
    <kagensDagTekst><![CDATA[Det Franske Conditori har de sidste 3 år deltaget i Kagens Dag, for at støtte op omkring Børnecancerfonden, da alt indtægt går ubeskåret til dem.

Vi har været så heldige at vinde Kagens Dag i år 2017 og 2019 og vi glæder os til at forsøge igen næste år. Følg med på vores facebookside når vi i år 2020 deltager endnu en gang]]></kagensDagTekst>
    <forsideTekst><![CDATA[Det Franske Conditori laver brød, kager og konditori i den klassiske og traditionelle franske ånd. Der lægges vægt på kunsthåndværket, kvalitet og håndværksmæssig høj standard og kun de bedste råvarer fra håndplukkede leverandører benyttes. Langt størstedelen af alle produkter laves stadig på “den gode gammaldags måde” Vi stræber efter at komme tilbage til rødderne med finere fransk konditori, godt fransk inspireret brød, godt håndværk, passion, gode råvarer og en service som man husker det fra gamle dage!]]></forsideTekst>
    <forsideOverskrift><![CDATA[Det Franske Conditori]]></forsideOverskrift>
    <burgermenu><![CDATA[umb://media/e25b97cd1db24845841064f4fd96f450]]></burgermenu>
    <kryds><![CDATA[umb://media/af42c509af0849d0b07b4ecfdeab4b6e]]></kryds>
    <headerLogo><![CDATA[umb://media/8ad2434016b94ac798e2e9c151cd66ff]]></headerLogo>
    <smiley><![CDATA[umb://media/1971dad7c1c747648d4442ca2275b274]]></smiley>
    <facebook><![CDATA[umb://media/091228efe4d44507bc6903a6d49a77b5]]></facebook>
    <instagram><![CDATA[umb://media/164a45490515426cb586b49505e45e87]]></instagram>
  </forside>
</root>