.laesMereBtn {
  border: none;
  background-color: #be8e63;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 12px 20px 12px 20px;
  outline: none;
  cursor: pointer;
}

.laesMereBtn:hover {
  background-color: #ce9c71;
  transition: 0.3s ease;
}

.produkt1 {
  margin-top: 20px;
}

.slides,
.slidesKagemand,
.slidesBryllupskage,
.slidesKransekage {
  display: none;
}

.carouselContainer {
  position: relative;
  margin: auto;
}

i.tilbage,
i.frem,
i.tilbage2,
i.frem2 {
  font-size: 33px;
}
.frem,
.tilbage {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  cursor: pointer;
  color: white;
  transition: 0.6s ease;
  user-select: none;
}

.frem2,
.tilbage2 {
  position: absolute;
  top: 74%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  cursor: pointer;
  color: white;
  transition: 0.6s ease;
  user-select: none;
}

.frem,
.frem2 {
  right: 0;
}

.frem:hover,
.tilbage:hover,
.frem2:hover,
.tilbage2:hover {
  background-color: #be8d63dc;
}

.slideKnapper {
  text-align: center;
}

.slideknap,
.slideknap2,
.slideknap3,
.slideknap4 {
  width: 30px;
  height: 4px;
  margin: 0 5px;
  display: inline-block;
  background-color: #e9c6a8;
  transition: 0.6s ease;
}

.valgt,
.slideknap:hover {
  background-color: #be8e63;
}
.ease {
  animation-name: easein;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes easein {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* PLACERING AF TEKST */
.lagkageTxt {
  margin-top: 67px;
}

.kagemandTxt {
  margin-top: 55px;
}

.bryllupTxt {
  margin-top: 50px;
}
.kransekageTxt {
  margin-top: 35px;
}
/* MEDIA QUERIES 627px */
@media screen and (min-width: 627px) {
  .frem2,
  .tilbage2 {
    top: 70%;
  }
  /* PLACERING AF TEKST */
  .lagkageTxt {
    width: 84%;
    margin-top: 70px;
  }

  .kagemandTxt {
    margin-top: 65px;
  }

  .bryllupTxt {
    margin-top: 62px;
  }
  .kransekageTxt {
    margin-top: 58px;
  }
}

/* MEDIA QUERIES 768px */
@media screen and (min-width: 768px) {
  .frem2,
  .tilbage2 {
    top: 67%;
  }

  /* PLACERING AF TEKST */
  .lagkageTxt {
    margin-top: 75px;
  }

  .kagemandTxt {
    margin-top: 70px;
  }

  .kransekageTxt {
    margin-top: 60px;
  }
}

/* MEDIA QUERIES 1024px */
@media screen and (min-width: 1024px) {
  .produkt1 {
    margin-top: 70px;
  }
  .frem,
  .tilbage {
    margin-top: -40px;
  }

  .frem2,
  .tilbage2 {
    top: 50%;
    margin-top: -40px;
  }

  /* PLACERING AF TEKST */
  .lagkageTxt {
    width: 40%;
    margin-top: 60px;
  }

  .kagemandTxt {
    margin-top: 55px;
  }

  .bryllupTxt {
    margin-top: 45px;
  }
  .kransekageTxt {
    margin-top: 35px;
  }
}

/* MEDIA QUERIES 1280px */
@media screen and (min-width: 1280px) {
  /* PLACERING AF TEKST */
  .lagkageTxt {
    width: 39%;
    margin-top: 65px;
  }

  .kagemandTxt {
    margin-top: 57px;
  }

  .bryllupTxt {
    width: 38%;
    margin-top: 47px;
  }
  .kransekageTxt {
    width: 37%;
    margin-top: 43px;
  }
}
/* MEDIA QUERIES 1440px */
@media screen and (min-width: 1440px) {
  .produkt1 {
    margin-top: 90px;
  }

  /* PLACERING AF TEKST */
  .lagkageTxt {
    width: 38%;
    margin-top: 60px;
  }

  .kagemandTxt {
    width: 34%;
    margin-top: 48px;
  }

  .bryllupTxt {
    width: 36%;
    margin-top: 50px;
  }
  .kransekageTxt {
    width: 34%;
    margin-top: 38px;
  }
}

/* MEDIA QUERIES 1536px */
@media screen and (min-width: 1536px) {
  .produkt1 {
    margin-top: 100px;
  }
  .lagkageTxt {
    width: 35%;
    margin-top: 75px;
  }
  .kagemandTxt {
    margin-top: 74px;
  }

  .bryllupTxt {
    width: 34%;
    margin-top: 74px;
  }

  .kransekageTxt {
    width: 32%;
    margin-top: 65px;
  }
}

@media screen and (min-width: 1920px) {
  .produkt1 {
    margin-top: 120px;
  }

  .lagkageTxt {
    width: 34%;
    margin-top: 80px;
  }
  .kagemandTxt {
    width: 30%;
    margin-top: 70px;
  }

  .bryllupTxt {
    width: 33%;
    margin-top: 70px;
  }

  .kransekageTxt {
    width: 31%;
    margin-top: 70px;
  }
}
