footer {
  margin-top: 320px;
}

.IntroTxt {
  margin-top: 30px;
}
/* produkt HTML */
.produkt1 img,
.produkt2 img,
.produkt3 img,
.produkt4 img,
.produkt5 img {
  width: 100%;
  margin-top: 20px;
}

.produktBorder {
  border-right: 2px solid #be8e63;
  border-top: 2px solid #be8e63;
  border-bottom: 2px solid #be8e63;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 250px;
  width: 60%;
  float: right;
}

.produktTxt {
  width: 85%;
  position: absolute;
  margin-top: 50px;
}

.produkt2Border {
  border-left: 2px solid #be8e63;
  border-top: 2px solid #be8e63;
  border-bottom: 2px solid #be8e63;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 250px;
  width: 60%;
  float: left;
}
.produkt2Txt {
  width: 85%;
  position: absolute;
  margin-top: 50px;
  padding-left: 30px;
}
/*produkt.HTML */
/* MEDIA QUERIES 627px */
@media screen and (min-width: 627px) {
  footer {
    margin-top: 330px;
  }
}

/* MEDIA QUERIES 768px */
@media screen and (min-width: 768px) {
  /*produkt.HTML */
  .IntroTxt {
    margin-top: 40px;
  }
  .produktTxt {
    margin-top: 60px;
    width: 80%;
  }

  .produkt2Txt {
    padding-left: 70px;
    margin-top: 60px;
  }

  .produkt1 img,
  .produkt2 img,
  .produkt3 img,
  .produkt4 img,
  .produkt5 img {
    margin-top: 35px;
  }
  /*produkt.HTML */

  footer {
    margin-top: 340px;
  }
}

/* MEDIA QUERIES 1024px */
@media screen and (min-width: 1024px) {
  .IntroTxt {
    margin-top: 60px;
  }
  /* BRØD SEKTION */
  .produkt1 img,
  .produkt2 img,
  .produkt3 img,
  .produkt4 img,
  .produkt5 img {
    margin-top: 0px;
  }
  .produkt1,
  .produkt2,
  .produkt3,
  .produkt4,
  .produkt5 {
    margin-top: 70px;
  }
  .produkt1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
  }

  .produkt1Container,
  .produkt2Container,
  .produkt3Container,
  .produkt4Container {
    align-self: center;
  }

  .produktTxt {
    width: 39%;
    margin-top: 30px;
  }

  /* BOLLER SEKTION */
  .produkt2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .produkt2Container {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .produkt2Img {
    grid-column-start: 2;
  }

  .produktTxt {
    width: 39%;
    margin-top: 40px;
  }

  .produkt2Txt {
    width: 38%;
    padding-left: 30px;
    margin-top: 40px;
  }

  /* RUGBRØD SEKTION */
  .produkt3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
  }

  /* FLUTE SEKTION */
  .produkt4,
  .produkt5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  .produkt4Container {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .produkt4Img {
    grid-column-start: 2;
  }

  .produkt5Container {
    margin-bottom: 0px;
  }

  /*FOOTER*/
  footer {
    margin-top: 95px;
  }
}

/* MEDIA QUERIES 1280px */
@media screen and (min-width: 1280px) {
  /* produkt */
  .fluteContainer {
    margin-bottom: 100px;
  }

  .produkt1,
  .produkt2,
  .produkt3,
  .produkt4,
  .produkt5 {
    margin-top: 70px;
    grid-gap: 45px;
  }
}
/* MEDIA QUERIES 1440px */
@media screen and (min-width: 1440px) {
  /* produkt*/

  .IntroTxt {
    margin-top: 70px;
  }
  .produkt1,
  .produkt2,
  .produkt3,
  .produkt4,
  .produkt5 {
    margin-top: 90px;
    grid-gap: 60px;
  }

  .produkt5Container {
    margin-bottom: 200px;
  }

  .produktTxt {
    width: 36%;
  }

  footer {
    margin-top: 105px;
  }
}

/* MEDIA QUERIES 1536px */
@media screen and (min-width: 1536px) {
  .IntroTxt {
    margin-top: 80px;
  }

  .produkt1,
  .produkt2,
  .produkt3,
  .produkt4,
  .produkt5 {
    margin-top: 100px;
    grid-gap: 70px;
  }

  footer {
    margin-top: 125px;
  }
  .produktBorder,
  .produkt2Border {
    height: 300px;
  }
}

@media screen and (min-width: 1920px) {
  /* TEXT PÅ PRODUKT SIDER */
  .IntroTxt {
    margin-top: 100px;
  }
  .produktTxt {
    width: 29%;
    padding-left: 50px;
  }
  .produkt2Txt {
    width: 30%;
    padding-left: 85px;
  }
  .produkt1,
  .produkt2,
  .produkt3,
  .produkt4,
  .produkt5 {
    margin-top: 120px;
  }

  footer {
    margin-top: 140px;
  }
  .produktBorder,
  .produkt2Border {
    height: 330px;
  }
}
