@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.KontaktOs>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "master.cshtml";
}

    </picture>
 <picture class="heroBillede">
      <source media="(min-width: 1920px)" srcset="img/ko1920x780.jpg" />
      <source media="(min-width: 1536px)" srcset="img/ko1536x600.jpg" />
      <source media="(min-width: 1440px)" srcset="img/ko1440x550.jpg" />
      <source media="(min-width: 1280px)" srcset="img/ko1280x500.jpg" />
      <source media="(min-width: 1024px)" srcset="img/ko1024x480.jpg" />
      <source media="(min-width: 768px)" srcset="img/ko768x550.jpg" />
      <source media="(min-width: 627px)" srcset="img/ko627x290.jpg" />
      <source media="(min-width: 375px)" srcset="img/ko375x390.jpg" />
      <img src="img/ko375x390.jpg" alt="Det Franske Conditori" />
    </picture>
    <main>
      <div class="dfcTxt">
        <h1>Bestilling af brød og kager</h1>
        <p>
          For bestiling af brød og kager bedes du ringe til Det Franske
          Conditori eller komme ned i butikken med din bestilling.
        </p>
        <p>
          Fest- og Signaturkager til særlige lejligheder specialfremstilles.
          Bestil derfor i god tid, afstem ønsker og pris med mester eller
          konditor. Alle bestillinger SKAL være betalt senest 3 dage før -
          ellers bliver ordren ikke lavet
        </p>
        <h2>Levering</h2>
        <p>
          Ved større bestillinger kan vi være behjælpelige med levering.
          Levering skal aftales ved bestilling - og inden betaling, så vi er
          sikre på at alt forløber som det skal.
        </p>
      </div>
      <div class="kontaktOsContainer">
        <div class="kontaktImg">
          <img src="img/kontaktos1.jpg" alt="Ejerne" />
        </div>
        <div class="kontaktTxtContainer">
          <div class="kontaktBorder"></div>
          <div class="kontaktTxt">
            <h2>Kontakt os</h2>
            <div class="kontaktPTop">
              <p>Tlf: +45 35 35 15 46</p>
            </div>
            <p>Email: kontakt@detfranskeconditori.dk</p>
            <br />
            <p>H. C. Ørstedsvej 44</p>
            <p>1879 Frederiksberg</p>
          </div>
        </div>
      </div>

      <div class="kontaktForm">
        <form
          action="mailto:simonegrauer@hotmail.com"
          method="POST"
          enctype="text/plain"
        >
          <label for="navn">Navn <input type="text" name="navn"/></label>
          <label for="email">Email <input type="email" name="email"/></label>
          <label for="besked"
            >Besked
            <textarea name="besked" id="kontaktBesked" rows="5"></textarea
          ></label>
          <input type="submit" value="Send" class="sendEmail" />
        </form>
      </div>
    </main>