@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@* the fun starts here *@

<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Det Franske Conditori beskrivelse her" />
    <link rel="stylesheet" href="/css/style.css" />
    
    <!--SCROLLREVEAL LINK FOR AT SCROLLREVEAL DUR-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!--FONTE HENTET FRA GOOGLE FONTS-->
    <link
      href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:500|Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon-package/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon-package/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon-package/favicon-16x16.png"
    />
    <link rel="manifest" href="favicon-package/site.webmanifest" />
    <link
      rel="mask-icon"
      href="favicon-package/safari-pinned-tab.svg"
      color="#be8e63"
    />
    <meta name="msapplication-TileColor" content="#151515" />
    <meta name="theme-color" content="#151515" />
    
   @if(Model.Content.DocumentTypeAlias == "forside"){
   <link rel="stylesheet" href="/css/index.css" />
     <title>Det Franske Conditori</title>
    }
    
    @if(Model.Content.DocumentTypeAlias == "broed"){
   <link rel="stylesheet" href="/css/produkt.css" />
     <title>Det Franske Conditoris brød</title>
    }
    
    @if(Model.Content.DocumentTypeAlias == "kager"){
   <link rel="stylesheet" href="/css/produkt.css" />
   <link rel="stylesheet" href="/css/kager.css"/>
     <title>Det Franske Conditoris kager</title>
    }
    
     @if(Model.Content.DocumentTypeAlias == "fristelser"){
   <link rel="stylesheet" href="/css/produkt.css" />
   <link rel="stylesheet" href="/css/fristelser.css" />
     <title>Det Franske Conditoris fristelser</title>
    }
    
     @if(Model.Content.DocumentTypeAlias == "bestillingskager"){
   <link rel="stylesheet" href="/css/produkt.css" />
   <link rel="stylesheet" href="/css/bestillingskager.css" />
    <!-- SoMe og pil ikoner hentet fra W3Schools -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
     <title>Det Franske Conditoris bestillingskager</title>
    }
    
    @if(Model.Content.DocumentTypeAlias == "voresHistorie"){
   <link rel="stylesheet" href="/css/historie.css" />
     <title>Det Franske Conditoris historie</title>
    }
    
    @if(Model.Content.DocumentTypeAlias == "kontaktOs"){
    <link rel="stylesheet" href="/css/kontakt.css"/>
    <title>Kontakt Det Franske Conditori</title>
    }
    
    
    
  </head>
  
  <body>
      @Html.Partial("Partial_Header")
      
      @RenderBody()
      
      @Html.Partial("Partial_Footer")
     
    <script src="/scripts/js.js"></script>
    <script src="/scripts/scroll.js"></script>
     @if(Model.Content.DocumentTypeAlias == "bestillingskager"){
   <script src="/scripts/carousel.js"></script>
    }
 
  </body>
  </html>