@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "master.cshtml";
}
<picture class="heroBillede">
      <source media="(min-width: 1920px)" srcset="img/h1920x780.jpg" />
      <source media="(min-width: 1536px)" srcset="img/h1536x600.jpg" />
      <source media="(min-width: 1440px)" srcset="img/h1440x550.jpg" />
      <source media="(min-width: 1280px)" srcset="img/h1280x500.jpg" />
      <source media="(min-width: 1024px)" srcset="img/h1024x480.jpg" />
      <source media="(min-width: 768px)" srcset="img/h768x550.jpg" />
      <source media="(min-width: 627px)" srcset="img/h627x290.jpg" />
      <source media="(min-width: 375px)" srcset="img/h375x390.jpg" />
      <img src="img/h375x390.jpg" alt="Det Franske Conditori" />
    </picture>
    <main>
      <div class="dfcTxt">
        <h1>DET FRANSKE CONDITORIS HISTORIE</h1>
        <p>
          Det Franske Conditori blev grundlagt i år 1898 og har altid været
          beliggende på H.C Ørstedsvej 44. Gennem årene har der været fem
          forskellige ejere som har holdt fast i den franske smag.
        </p>
      </div>
      <div class="historie historieMargin">
        <div class="aarstal">
          <h2>1</h2>
          <h2>8</h2>
          <h2>9</h2>
          <h2>8</h2>
        </div>
        <div class="aarstalDesktop">
          <h2>18</h2>
          <h2>98</h2>
        </div>
        <div class="historieTxt">
          <p>
            Det Franske Conditori startede i år 1898, da Hans Christian Thomsen
            havde sendt sin søn 2 år til Frankring for at lære fransk conditori
            og is. På den meget lille plads vi også har idag, havde de servering
            og cafepladser.
          </p>
        </div>
        <div class="historieImg">
          <img src="img/historie3.jpg" alt="1898" />
        </div>
      </div>
      <div class="historie2 historieMargin">
        <div class="aarstal">
          <h2>1</h2>
          <h2>9</h2>
          <h2>2</h2>
          <h2>3</h2>
        </div>
        <div class="aarstalDesktop">
          <h2>19</h2>
          <h2>23</h2>
        </div>
        <div class="historieTxt">
          <p>
            I år 1923 solgte Hans Christian Thomsen butikken til Sheffmann, som
            begyndte at sælge brød udover konditori. Det fik ikke en god
            modtagelse af Thomsen, da Det Franske Conditori var Frederiksbergs
            fineste konditori. Herefter blev det mere og mere til et bageri i
            stedet for et konditori.
          </p>
          <p>
            I 1940’erne blev servering og cafepladser afskaffet, da man skulle
            have kundetoiletter for at få tilladselse til servering. Dette var
            dog ikke muligt med den lille plads i butikken.
          </p>
        </div>
        <div class="historieImg2">
          <img src="img/historie1.jpg" alt="1898" />
        </div>
      </div>

      <div class="historie_3 historieMargin">
        <div class="aarstal">
          <h2>1</h2>
          <h2>9</h2>
          <h2>5</h2>
          <h2>8</h2>
        </div>
        <div class="aarstalDesktop">
          <h2>19</h2>
          <h2>58</h2>
        </div>
        <div class="historieTxt">
          <p>
            Sidst i 1950erne overtog Asger Andersen butikken sammen med sin kone
            drev de en traditionel god bager butik
          </p>
        </div>
        <div class="historieImg_3">
          <img src="img/historie.jpg" alt="1958" />
        </div>
      </div>
      <div class="historie3 historieMargin">
        <div class="aarstal">
          <h2>1</h2>
          <h2>9</h2>
          <h2>7</h2>
          <h2>8</h2>
        </div>
        <div class="aarstalDesktop">
          <h2>19</h2>
          <h2>78</h2>
        </div>
        <div class="historieTxt">
          <p>
            I år 1978 overtog “svigerforældrendes navne” butikken og drev en
            almindelig bagerforretning indtil år 1995.
          </p>
        </div>
        <div class="historieImg3">
          <img src="img/historie2.jpg" alt="1898" />
        </div>
      </div>
      <div class="historie4 historieMargin">
        <div class="aarstal">
          <h2>1</h2>
          <h2>9</h2>
          <h2>9</h2>
          <h2>5</h2>
        </div>
        <div class="aarstalDesktop">
          <h2>19</h2>
          <h2>95</h2>
        </div>
        <div class="historieTxt">
          <p>
            I år 1995 overtog nuværende ejere Henrik Jonsbak og Camilla Olsen
            butikken fra Henriks forældre.
          </p>
          <p>I år 2014 fik butikken og dens facade en renovering, som</p>
        </div>
        <div class="historieImg4">
          <img src="img/historie4.jpg" alt="1898" />
        </div>
      </div>
    </main>