@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@inherits Umbraco.Web.Mvc.UmbracoViewPage
 <header>
      <div class="navLogo">
        <a href="/">
            @{
    var logo = Model.GetPropertyValue<IPublishedContent>("logo");
    if(logo != null){
    <img src="@logo.Url" alt="Det Franske Conditori"
        />
    }
    }
         </a>
      </div>
      <div id="mobilNavigation" class="mobilOverlay">
        <div class="lukBurgermenu">
          <img src="img/Icon-04.svg" alt="luk menu" onclick="lukNav()" />
        </div>
        <div class="navLogo">
          <a href="/">
            <img src="img/DFCLogo.png" alt="Det Franske Conditori"
          /></a>
        </div>
        <div class="navPunkter">
          <a href="/broed">Brød</a>
          <a href="/kager">Kager</a>
          <a href="/fristelser">Fristelser</a>
          <a href="/bestillingskager">Bestillingskager</a>
          <a href="/voresHistorie">Vores historie</a>
          <a href="/kontaktOs">Kontakt os</a>
        </div>
      </div>
      <div class="burgermenuIkon">
        <img src="img/Icon-03.svg" alt="burgermenu" onclick="aabenNav()" />
      </div>

      <div class="desktopPunkter">
        <a href="/broed">Brød</a>
        <a href="/kager">Kager</a>
        <a href="/fristelser">Fristelser</a>
        <a href="/bestillingskager">Bestillingskager</a>
        <a href="/voresHistorie">Vores historie</a>
        <a href="/kontaktOs">Kontakt os</a>
      </div>
    </header>